// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Roboto', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #EF3829;
$orange: #F5821E;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$gray: #222222;
$light-blue: #0FBDDF;
$gray-soft: #E0E0E0;
$gray-dark: #5F5A5A;
$gray-light: #828282;
$gray-light-2: #F0EFEF;
$border-light:#C4C4C4;
$text-gray: #414141;